* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  font-family: Poppins, Segoe UI, sans-serif;
}

html {
  font-size: 62.5%;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  border: none;
  outline: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

figure {
  margin: 0;
}
