.container {
  max-width: 123.2rem;
  margin-right: auto;
  margin-left: auto;
  padding-right: 1.6rem;
  padding-left: 1.6rem;
  position: relative;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
  z-index: 1;
}

.equal {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0;
  -moz-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
}

.margin-right-sm {
  margin-right: 0.4rem;
}

.margin-right-md {
  margin-right: 1.2rem;
}

.margin-right-lg {
  margin-right: 2.4rem;
}

.margin-left-sm {
  margin-left: 0.4rem;
}

.margin-left-md {
  margin-left: 1.2rem;
}

.margin-left-lg {
  margin-left: 2.4rem;
}

.margin-bottom-sm {
  margin-bottom: 0.4rem;
}

.margin-bottom-md {
  margin-bottom: 1.2rem;
}

.margin-bottom-lg {
  margin-bottom: 2.4rem;
}

.margin-top-sm {
  margin-top: 0.4rem;
}

.margin-top-md {
  margin-top: 1.2rem;
}

.margin-top-lg {
  margin-top: 2.4rem;
}

.padding-sm {
  padding: 0.4rem;
}

.padding-md {
  padding: 1.2rem;
}

.padding-lg {
  padding: 2.4rem;
}

.padding-vertical-sm {
  padding: 0 0.4rem;
}

.padding-vertical-md {
  padding: 0 1.2rem;
}

.padding-vertical-lg {
  padding: 0 2.4rem;
}

.padding-horizontal-sm {
  padding: 0.4rem 0;
}

.padding-horizontal-md {
  padding: 1.2rem 0;
}

.padding-horizontal-lg {
  padding: 2.4rem 0;
}

.italic {
  font-style: italic;
}

.line-height-sm {
  line-height: 1;
}

.line-height-md {
  line-height: 2;
}

.line-height-lg {
  line-height: 3;
}

.font-size-10 {
  font-size: 1rem;
}

.font-size-11 {
  font-size: 1.1rem;
}

.font-size-12 {
  font-size: 1.2rem;
}

.font-size-13 {
  font-size: 1.3rem;
}

.font-size-14 {
  font-size: 1.4rem;
}

.font-size-15 {
  font-size: 1.5rem;
}

.font-size-16 {
  font-size: 1.6rem;
}

.font-size-17 {
  font-size: 1.7rem;
}

.font-size-18 {
  font-size: 1.8rem;
}

.font-weight-3 {
  font-weight: 300;
}

.font-weight-4 {
  font-weight: 400;
}

.font-weight-5 {
  font-weight: 500;
}

.font-weight-6 {
  font-weight: 600;
}

.font-weight-7 {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.cursor-pointer {
  cursor: pointer;
}

.radius-sm {
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  border-radius: 0.2rem;
}

.radius-md {
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  border-radius: 0.4rem;
}

.radius-lg {
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  border-radius: 0.8rem;
}

.radius-max {
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  border-radius: 5rem;
}

.radius-circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-vertical {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-horizontal {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}
